html {
    font-family: sans-serif;
    font-size: 1rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    overflow: visible;
    background-color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.nav-link {
    padding: 0.8rem 1.5rem;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

a.dropdown-item:hover {
    text-decoration: none;
}

.dropdown-menu > li > a:hover:after {
    text-decoration: none;
    transform: rotate(-90deg);
} 

input[type=text] {
    padding: 10px 20px;
    margin-top: 8px;
    font-size: 1.1rem;
    font-family: FontAwesome;
    width:300px;
    background-color: #f5f4f2;
    border-radius: 9999px;
    border: none;
}

input[type=text]:focus {
    outline: none;
}

.login-btn {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

/* hero section */
.hero {
    padding: 50px 0;
    background-color: #141518;
    color: #fff;
}

.section-heading {
    margin-bottom: 30px;
}

.hero img {
    width: 100%;
}

.btn-danger {
    border-radius: 40px;
}

/* testimonial section */
.thumbnail img {
    max-width: 300px;
    margin-left: 60px;
}
  
.quote {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: black;
    margin-left: 30px;
}

.quote p {
    margin-left: 420px;
    text-align: center;
}

/* services section */
.services {
    padding: 60px 0;
    text-align: center;
    background-color: #141518;
    color: #fff;  
}

.section-title {
	margin: 0;
	padding-bottom: 50px;
}

.section-title h1 {
    margin-bottom: 20px;
}
.section-title p {
	max-width: 700px;
	margin: auto;
}

.services .service-thumb {
    margin-bottom:30px; 
    margin-top:20px;
}

.thumb-icon {
    margin: 20px;
}

/* Blog section */
.blog {
    padding: 60px 0;
    text-align: center;  
}

.card-body a {
    float: left;
    color: red;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #141518;
    color: #f5f4f2;
    line-height: 1.5;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    color: #eee;
}

.ft-main {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 20px;
  min-width: 200px;
}

.ft-main-item button {
    color: #eee;
    font-size: 1.1rem;
    font-weight: 500;
}

.ft-title {
    text-transform: uppercase;
    font-size: 1rem;
}

 @media screen and (max-width: 600px) {
   .quote {
       font-size: 19px;
       font-weight: 600;
       line-height: 1;
       margin-top: -35px;
       text-align: center;
       margin-left: 0;
       margin-bottom: 50px;
   }

   .thumbnail img {
       margin-left: 20px;
   }
    
   .topnav .login-container {
       float: none;
  }
}

@media screen and (min-width: 1023px) {
   .thumbnail img {
       margin-left: 150px;
   } 
   .quote {
       margin-right: 90px;
   }
   .ft-main {
    justify-content: space-evenly;
  }
}
